@import "tailwindcss";

@font-face {
  font-family: 'PPMondwest';
  src: url('./fonts/ppmondwest-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
  color:#444;
}
